#connexion {
    position: relative;
    top: 75px;
}

h2 {
    text-align: center !important;
}

label {
    color: #e89b1b;
    font-weight: 500;
}

.personalButton {
    background-color: #e89b1b;
    color: white;
    font-weight: bold;
}